<div class="bs-docs-section">
	<h1 class="page-header">Description lists</h1>

	<h4>Vertical description</h4>

	<div class="bs-example">
		<dl class="dl-entity">
			<dt>Description lists</dt>
			<dd>A description list is perfect for defining terms.</dd>
			<dt>Euismod</dt>
			<dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
			<dd>Donec id elit non mi porta gravida at eget metus.</dd>
			<dt>Malesuada porta</dt>
			<dd>Etiam porta sem malesuada magna mollis euismod.</dd>
		</dl>
	</div>
	{% highlight html %}
	<dl class="dl-entity">
		<dt>...</dt>
		<dd>...</dd>
	</dl>
	{% endhighlight %}

	<h4>Horizontal description</h4>

	<p>Make terms and descriptions in <code>&lt;dl&gt;</code> line up side-by-side. Starts off stacked like default <code>&lt;dl&gt;</code>s, but when the navbar expands, so do these.</p>

	<div class="bs-example">
		<dl class="dl-entity-horizontal">
			<dt>Description lists</dt>
			<dd>A description list is perfect for defining terms.</dd>
			<dt>Euismod</dt>
			<dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
			<dd>Donec id elit non mi porta gravida at eget metus.</dd>
			<dt>Malesuada porta</dt>
			<dd>Etiam porta sem malesuada magna mollis euismod.</dd>
		</dl>
	</div>
	{% highlight html %}
	<dl class="dl-entity-horizontal">
		<dt>...</dt>
		<dd>...</dd>
	</dl>
	{% endhighlight %}
</div>
