<div class="bs-docs-section">
	<h1 class="page-header">Pagination with input</h1>
	<div class="bs-example">
		<ul class="pagination pagination-sm">
			<li>
				<a href="#" aria-label="Previous">
					<span aria-hidden="true">«</span>
				</a>
			</li>
			<li>
				<input type="number" min="1" class="form-control" placeholder="p." />
			</li>
			<li>
				<a href="#" aria-label="Next">
					<span aria-hidden="true">»</span>
				</a>
			</li>
		</ul>
		<ul class="pagination pagination-sm pull-right">
			<li>
				<a href="#" aria-label="Previous">
					<span aria-hidden="true">«</span>
				</a>
			</li>
			<li>
				<input type="number" min="1" class="form-control" placeholder="Pág.">
			</li>
			<li>
				<a href="#" aria-label="Next">
					<span aria-hidden="true">»</span>
				</a>
			</li>
		</ul>
	</div>
	{% highlight html %}
				<ul class="pagination pagination-sm">
			<li>
				<a href="#" aria-label="Previous">
					<span aria-hidden="true">«</span>
				</a>
			</li>
			<li>
				<input type="number" min="1" class="form-control" placeholder="p." />
			</li>
			<li>
				<a href="#" aria-label="Next">
					<span aria-hidden="true">»</span>
				</a>
			</li>
		</ul>
		<ul class="pagination pagination-sm pull-right">
			<li>
				<a href="#" aria-label="Previous">
					<span aria-hidden="true">«</span>
				</a>
			</li>
			<li>
				<input type="number" min="1" class="form-control" placeholder="Pág.">
			</li>
			<li>
				<a href="#" aria-label="Next">
					<span aria-hidden="true">»</span>
				</a>
			</li>
		</ul>
	{% endhighlight %}
</div>