.table {
	table-layout: initial;

	> thead, > tbody, > tfoot {
		> tr {
			> th, > td {
				vertical-align: middle;
				border-bottom: 1px solid @gray-lighter;
				cursor: default;

				&:last-of-type {position: relative;}

				small, span.itemDetailedInfo {
					color: @gray-dark;
					margin-left: 5px;

					&:before {
						content: "\2013";
						margin: 0 7.5px 0 2.5px;
						color: inherit;
						letter-spacing: 0.025em;
					}
				}

				.progress {
					height: 1px;
					position: absolute;
					bottom: 0;
					left: 0;
					margin-bottom: -1px;
					width: 100%;
				}

				&.icon, &.avatar {
					padding-left: 5px;
					[class*="icon-"] {
						color: @brand-primary;
						font-size: @font-size-h3;
					}
					+ td {padding-left: 5px;}
				}
			}
		}
	}

	> tfoot > tr {
		&.new_tr_element, &.add {
			> td {
				position: relative;

				&:before {
					.icon();
					color: @gray;
					position: absolute;
					top: (@table-cell-padding * 1.3);
					left: (@table-cell-padding / 2 + 2);
					font-size: @font-size-h4;
				}

				input, textarea, span {
					position: relative;
					top: -5px;
					padding-left: (@table-cell-padding * 3);
					border: none;
					background-color: transparent;
					.placeholder(@gray-dark);

					&:focus {
						.form-control();
						width: 102.5%;
						border-color: @gray-light;
						background-color: transparent;
						left: -@table-cell-padding;
						padding-left: ((@table-cell-padding * 4) - 1);
						.placeholder(@input-color-placeholder);
					}
				}

				span {top: 0;}
			}
		}

		&.folder > td {.icon-folder-new();}
		&.file { cursor: pointer; > td {.icon-filetype-new();} input { cursor: pointer;}}
		&.user > td {.icon-user-add();}
		&.comment > td {.icon-chat();}

		&:last-of-type > td {
			border-bottom: none;
		}
	}

	// Column headings
	> thead > tr > th {
	vertical-align: middle;
	border-top: 1px solid @table-border-color;
	border-bottom: 1px solid @table-border-color;
	border-right: 1px solid @table-border-color;
	background: @gray-lighter;
	color: @gray-darker;
	font-family: @headings-font-family;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&:first-of-type {border-left: 1px solid @table-border-color;}

	&.sort, &.sorted {
	  position: relative;
	  cursor: pointer;

	  i {
	    position: absolute;
	    top: 30%;
	    right: 10px;
	    visibility: hidden;
	    &:before {
	      font-size: 16px;
	      color: @gray;
	    }
	  }

	  &:hover i, &.sorted i {visibility: visible;}
	}
	}

	thead > tr > th, colgroup > col {
	&.col-icon, &.col-avatar {
	  width: 28px;
	}
	}

	&.faded > tbody > tr {

	> td {
	  .text-overflow();
	  position: relative;

	  &:after {
	    content: "";
	    pointer-events: none;
	    position: absolute;
	    width: 25px;
	    height: 100%;
	    top: 0;
	    right: 0;
	    //#gradient.horizontal-inverse(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0), 0%, 100%);
	    z-index: 997;
	  }

	}

	&.active {
	  > td:after {
	    width: 25px;
	    //#gradient.horizontal-inverse(rgba(243, 243, 243, 1), rgba(243, 243, 243, 0), 0%, 100%);
	  }
	  > td {border-bottom: 1px solid @table-border-color;}
	}
	}

	> tbody + tbody {
		border-top: 1px solid @table-border-color;
	}
}

.table-bordered {
	border: none;
}

.table-striped {
	> tbody > tr {
		border: 1px solid transparent;
	}

	> tbody > tr:nth-child(odd) {
		> td, > th {
			position: relative;
			background-color: lighten(@gray-lighter, 2%);
			border-top: 1px solid @gray-lighter;
			border-bottom: 1px solid @gray-lighter;

			&:first-of-type {border-left: 1px solid @gray-lighter;}
			&:last-of-type {border-right: 1px solid @gray-lighter;}

			&:before {
				content: '';
				position: absolute;
				margin-top: 0px;
				height: 1px;
				width: 100%;
				top: 0;
				left: 0;
				background: @gray-lighter;
				.box-shadow(-1px 1px 1px #fff);
				z-index: 998;
			}
		}
	}
}

.table-striped.table-bordered {
  > tbody > tr:nth-child(odd) {
      > td,
      > th {
        border: 1px solid @table-border-color;
        &:first-of-type {border-left: 1px solid @table-border-color;}
        &:last-of-type {border-right: 1px solid @table-border-color;}

        &:before {
          background: @table-border-color;
        }
      }
  }
}

.table-hover {
  > tbody > tr:hover {
    > td,
    > th {
      position: relative;
      background-color: @table-bg-hover;
      border-top: 1px solid @table-border-color;
      border-bottom: 1px solid @table-border-color;

      &:first-of-type {border-left: 1px solid @table-border-color; padding-left: (@table-cell-padding - 1px);}
      &:last-of-type {border-right: 1px solid @table-border-color;}

      &:before {
      content: '';
      position: absolute;
      margin-top: 0px;
      height: 1px;
      width: 100%;
      top: 0;
      left: 0;
      background: @table-border-color;
      .box-shadow(-1px 1px 1px #fff);
      z-index: 998;
    }
    }

    > td {
      cursor: pointer;
    }
  }
}

.table-hover.faded > tbody > tr:hover {
  > td:after {
    width: 25px;
    //#gradient.horizontal-inverse(rgba(243, 243, 243, 1), rgba(243, 243, 243, 0), 0%, 100%);
  }
  > td {border-bottom: 1px solid @table-border-color;}
}

.table-row-variant(active; @table-bg-active);
.table-row-variant(success; @state-success-border);
.table-row-variant(info; @state-info-border);
.table-row-variant(warning; @state-warning-border);
.table-row-variant(danger; @state-danger-border);

.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {

  > td.active,
  > th.active,
  &.active > td,
  &.active > th {
    position: relative;
    background-color: @gray-lighter;
    border-bottom: 1px solid @table-border-color;

    &:before {
      content: '';
      position: absolute;
      margin-top: 0px;
      height: 1px;
      width: 100%;
      top: 0;
      left: 0;
      background: @table-border-color;
      .box-shadow(-1px 1px 1px #fff);
      z-index: 998;
    }
  }

  &.active {
    border-left: 1px solid @table-border-color;
    border-right: 1px solid @table-border-color;
  }
}