// Font-face generator

.font-face(@fontFamily, @fileName, @style, @weight) {
  @font-face {
    font-family: @fontFamily;
    font-style: @style;
    font-weight: @weight;
    src: url('@{fileName}.eot');
    src: url('@{fileName}.eot?#iefix') format('embedded-opentype'),
         url('@{fileName}.woff2') format('woff2'),
         url('@{fileName}.woff') format('woff'),
         url('@{fileName}.ttf') format('truetype'),
         url('@{fileName}.svg') format('svg');
  }
}

.font-face('opensans', '../fonts/opensans/OpenSans-Light', normal, 300);
.font-face('opensans', '../fonts/opensans/OpenSans-LightItalic', italic, 300);
.font-face('opensans', '../fonts/opensans/OpenSans-Regular', normal, 400);
.font-face('opensans', '../fonts/opensans/OpenSans-Italic', italic, 400);
.font-face('opensans', '../fonts/opensans/OpenSans-Semibold', normal, 600);
.font-face('opensans', '../fonts/opensans/OpenSans-SemiboldItalic', italic, 600);
.font-face('opensans', '../fonts/opensans/OpenSans-Bold', normal, 700);
.font-face('opensans', '../fonts/opensans/OpenSans-BoldItalic', italic, 700);
.font-face('opensans', '../fonts/opensans/OpenSans-ExtraBold', normal, 800);
.font-face('opensans', '../fonts/opensans/OpenSans-ExtraBoldItalic', italic, 800);

.font-face('titillium', '../fonts/titillium/titillium-thin', normal, 200);
.font-face('titillium', '../fonts/titillium/titillium-thinitalic', italic, 200);
.font-face('titillium', '../fonts/titillium/titillium-light', normal, 300);
.font-face('titillium', '../fonts/titillium/titillium-lightitalic', italic, 300);
.font-face('titillium', '../fonts/titillium/titillium-regular', normal, 400);
.font-face('titillium', '../fonts/titillium/titillium-regularitalic', italic, 400);
.font-face('titillium', '../fonts/titillium/titillium-semibold', normal, 600);
.font-face('titillium', '../fonts/titillium/titillium-semibolditalic', italic, 600);
.font-face('titillium', '../fonts/titillium/titillium-bold', normal, 700);
.font-face('titillium', '../fonts/titillium/titillium-bolditalic', italic, 700);
.font-face('titillium', '../fonts/titillium/titillium-black', normal, 900);

// TODO: Replace with the mixin when this font has woff2 variant

@font-face {
  font-family: 'fenixedu-icons';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/fenixedu-icons/fenixedu-icons.eot');
  src: url('../fonts/fenixedu-icons/fenixedu-icons.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fenixedu-icons/fenixedu-icons.woff') format('woff'),
       url('../fonts/fenixedu-icons/fenixedu-icons.ttf') format('truetype'),
       url('../fonts/fenixedu-icons/fenixedu-icons.svg') format('svg');
}

// Assorted

h1, .h1 { font-size: @font-size-h1; font-style: normal; font-weight: 300; }
h2, .h2 { font-size: @font-size-h2; font-style: normal; font-weight: 300; }
h3, .h3 { font-size: @font-size-h3; font-style: normal; font-weight: 400; }
h4, .h4 { font-size: @font-size-h4; font-style: normal; font-weight: 400; }
h5, .h5 { font-size: @font-size-h5; font-style: normal; font-weight: 400; }
h6, .h6 { font-size: @font-size-h6; font-style: normal; font-weight: 400; }

.lead {
    font-weight: 200;
}

mark,
.mark {
background-color: lighten(@brand-warning, 45%);
border: 1px solid lighten(@brand-warning, 35%);
.border-radius(@border-radius-base);
padding: .1em .25em;
}


.bg-primary {
  // Given the contrast here, this is the only class to have its color inverted
  // automatically.
  color: @text-color;
  .bg-variant(@brand-primary);
}
.bg-success {
  .bg-variant(@state-success-border);
}
.bg-info {
  .bg-variant(@state-info-border);
}
.bg-warning {
  .bg-variant(@state-warning-border);
}
.bg-danger {
  .bg-variant(@state-danger-border);
}

.page-header {
  margin: @line-height-computed 0 @line-height-computed;
  small {
    font-family: @font-family-base;
    .lead();
    display: block!important;
    margin: 10px 0 0;
    color: @gray-dark;
  }
}

ol {
  line-height: @line-height-base;
  ul,
  ol {
    margin-left: 18px;
  }
}

ul.list-styled {
  list-style: none;
  position: relative;
  li {
    //.icon-right-dir();
    line-height: (@line-height-base * 1.25);
    &:before {
      //.icon();
      position: absolute;
      margin: 5px -15px;
      color: @gray;
    }
  }
  ul {list-style: none;}
}

.list-unstyled {
  li:before {content: '';}
}

.list-inline {
  > li {
    padding-left: 8px;
    padding-right: 8px;
  }
}

dt {
  color: @gray-darker;
  font-weight: 600;
}

dd {
  &:empty:before {
    content: "—";
    color: @gray-dark;
    display: inline-block;
  }
}

blockquote {
  display: inline-block;
  padding: (@line-height-computed * 1.5) 0;
  font-style: italic;
  border-top: 1px solid @blockquote-border-color;
  border-bottom: 1px solid @blockquote-border-color;

  // Note: Deprecated small and .small as of v3.1.0
  // Context: https://github.com/twbs/bootstrap/issues/11660
  footer,
  small,
  .small {
    margin-top: (@line-height-computed);
    font-size: 90%; // back to default font-size
    color: @brand-primary;

    &:before {
      //content: '\2014 \00A0'; // em dash, nbsp
    }

    cite {
      color: @blockquote-small-color;
      font-style: inherit;
      display: block;
    }
  }
}

.blockquote-reverse,
blockquote.pull-right {
  border-top: 1px solid @blockquote-border-color;
  border-bottom: 1px solid @blockquote-border-color;

  // Account for citation
  footer,
  small,
  .small {
    &:before { content: ''; }
    &:after {
      //content: '\00A0 \2014'; // nbsp, em dash
    }
  }
}
